<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interview Question Generator</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/numberInputValidation.js') }}"></script>
    </head>
    <body>
        <h1>Interview Question Generator</h1>
        <form action="#" method="post" onsubmit="validateInput()">  
            <label for="qty">Enter number of questions to be generated:</label>
            <input type="number" id="qty" name="qty" placeholder="Number (1-100)" required><br>
            
            <label for="techstack">Enter the tech stack/keywords:</label>
            <input type="text" id="techstack" name="techstack" placeholder="Tech stack" required><br>
            
            <label for="difficulty">Select experience level:</label>
            <select id="difficulty" name="difficulty">  
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Experienced">Experienced</option>
            </select>
            <div id="error-message"></div>
            <input type="submit" value="Generate Questions">
        </form>
    </body>
</html>